@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#ffffff, #f8f9fa);
    color: #333;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.445); /* Fundo branco semitransparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background 0.3s ease; /* Transição suave para o fundo do header */
}

header.scrolled {
    background: rgba(255, 255, 255, 1); /* Muda o fundo quando rolar a página */
}

header .logo {
    width: 8vw;
    cursor: pointer;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
    position: relative; /* Necessário para o posicionamento do dropdown */
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #333; /* Texto em cinza escuro */
    border-radius: 20px;
    font-size: 1.2em; /* Aumenta o tamanho da fonte da navbar */
    transition: background 0.3s ease, color 0.3s ease; /* Transições suaves */
}

header ul li a:hover,
header ul li a.active {
    background: #ED1F8F; /* Rosa */
    color: white; /* Texto branco ao passar o mouse */
}

section {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px); /* Altura da seção, subtraindo o header */
    display: flex;
    flex-direction: column; /* Permite empilhar o texto e o botão verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
}

#text {
    position: relative; /* Ajustado para permitir o espaçamento */
    color: #ED1F8F; /* Rosa */
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    margin-bottom: 20px; /* Espaço entre o título e o botão */
}

.form-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(80, 80, 80, 0.123);
    max-width: 400px;
    width: 100%;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #ED1F8F;
    text-align: center;
    font-size: 1.9em;
    font-weight: 800;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1.1em;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #ED1F8F;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #ED1F8F;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
}

button:hover {
    background: #F16C90;
}

.status-message {
    font-size: 0.9em;
    margin-top: 5px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    header {
        padding: 20px 50px;
    }

    header .logo {
        font-size: 1.6em; /* Ajuste do tamanho da logo */
    }

    #text {
        font-size: 10vw;
    }

    .form-container h2 {
        font-size: 1.6em;
    }

    .input-group label {
        font-size: 1em;
    }
}

/* Estilos para o dropdown */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0 4px 8px rgba(109, 109, 109, 0.1);
    z-index: 10000;
}

header ul li:hover .dropdown {
    display: block;
}

.dropdown a {
    padding: 10px 15px;
    display: block;
    color: #333333;
    transition: background 0.3s ease;
}

.dropdown a:hover {
    background: #F16C90;
}

/* Animação do texto */
@keyframes slide-in {
    from {
        right: -350px;
        opacity: 0;
    }
    to {
        right: 50%;
        opacity: 1;
        transform: translateX(50%);
    }
}
